body{
font-family: 'Patrick Hand SC', cursive;
margin: 0;
padding: 0;
}


.gora{
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
margin-top: 200px;
background-color: rgb(255, 255, 255);
text-align: center;
position: relative;
color: rgb(0, 0, 0);
z-index: 2;
animation: transitionIn 2s;
font-size: 100px;

}


@keyframes transitionIn{

  from{
opacity: 0;
transform: rotateX(-10dec);
  }
  to{
    opacity: 1;
transform: rotateX(0);
  }

}

.wave {
    width: 1500px;
    height: 1500px;
    position: fixed;
    top: -25%;
    margin-left: -500px;
    margin-top: -700px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    z-index: 1;
  }

  @keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}

.cytat{
background-color: white;
text-align: center;
position: relative;
border-radius: 70px ;
z-index: 2;
font-size: 20px;
margin: 10%;

}

.text{
padding: 20px;
font-size: 40px;


}
